@import url('../variables.css');
@import url('./header.css');
@import url('./layout.css');
@import url('./cards.css');
@import url('./modal.css');
@import url('./form.css');
@import url('./controls.css');
@import url('./responsive.css');

body.cuidador-medicinas-page {
    background-color: var(--bg-main);
    color: var(--text-dark-main);
    line-height: 1.6;
    font-family: var(--font-primary);
}
