.perfil-main {
    max-width: 1100px;
    margin: 1.3rem auto;
    padding: 0 1rem;
}

.profile-grid {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 1rem;
    align-items: start;
}
